{% load static %}

<script>

    const chordTones = [
        [0, 4, 7], /* major */
        [0, 3, 7], /* minor */
        [0, 3, 6], /* dim */
        [0, 4, 8] /* aug */
    ]

    const playButton = document.getElementById('playButton');
    const answerButton = document.getElementById('answerButton');
    const playListener = new AbortController();
    const answerListener = new AbortController();

    const numOfAttempts = 3;
    let attemptsLeft = numOfAttempts;

    function generateChord() {
        chordQuality = Math.floor(4 * Math.random());
        // From the 20th semitone from C0 to the 50th 
        const r = Math.floor(Math.random() * (50 - 20)) + 20; 
        return [chordTones[chordQuality].map((note) => r + note), chordQuality];
    }

    function playChord(arrayOfNotes) {
        const numberOfNotes = arrayOfNotes.length;
        const arrayOfAudioPlayers = [];
        for (i = 0; i < numberOfNotes; i++) {
            noteFilename = noteNameFromSemitones(arrayOfNotes[i])
                                    + octaveFromSemitones(arrayOfNotes[i]) + '.mp3';
            arrayOfAudioPlayers[i] = document.createElement('audio');
            arrayOfAudioPlayers[i].src = "{% static 'ear_training/piano_notes/' %}" + noteFilename;
        }

        for (i = 0; i < numberOfNotes; i++) {
            arrayOfAudioPlayers[i].play();
        }
    }

    function noteNameFromSemitones(semitones) {
        const allNotes = ['c', 'db', 'd', 'eb', 'e', 'f',
                        'gb', 'g', 'ab', 'a', 'bb', 'b'];

        return allNotes[semitones % 12];
    }

    function octaveFromSemitones(semitones) {
        return Math.floor(semitones / 12);
    }

    function chordQualityFromIndex(index) {
        const chordQualities = ['Major', 'Minor', 'Diminished', 'Augmented'];
        return chordQualities[index];
    }

    function nextQuestion() {
        attemptsLeft = numOfAttempts;
        chordNotesAndQuality = generateChord();
        chordNotes = chordNotesAndQuality[0];
        chordQuality = chordNotesAndQuality[1];
    }

    function checkAnswer(answerChordQuality) {
        const selectedRadioButton = document.querySelector('input[name=choice]:checked');
        const selectedChoice = selectedRadioButton.value;

        if (selectedChoice == answerChordQuality) {
            alert(`Correct answer!`);
            nextQuestion();
        } else {
            attemptsLeft--;
            if (attemptsLeft == 0) {
                alert(`You're out of tries! The correct answer was: ${chordQualityFromIndex(answerChordQuality)}`);
                nextQuestion();
            } else {
                alert(`Wrong answer!`);
            }
        }
    }

    // Using 'var' is important, so that nextQuestion() can edit them from
    // within the function
    var chordNotesAndQuality = generateChord();
    var chordNotes = chordNotesAndQuality[0];
    var chordQuality = chordNotesAndQuality[1];

    playButton.addEventListener('click', () => playChord(chordNotes));
    answerButton.addEventListener('click', () => checkAnswer(chordQuality));
</script>