{% extends 'core/base.html' %}

{% block title %}
<title>Help</title>
{% endblock %}

{% block content %}
<h1>Help</h1>

<p>
    Cras scelerisque, massa et congue finibus, arcu libero posuere tellus, vel
    hendrerit dolor felis ut dui. Vestibulum a imperdiet quam. Proin finibus
    viverra ante vulputate varius. Nulla posuere enim vel lobortis interdum.
    Pellentesque nec lorem consequat, tincidunt sapien ut, hendrerit lorem.
    Mauris feugiat pretium nisl, et porta nunc porttitor in. Integer iaculis
    neque odio, id semper ipsum aliquet at. Nam venenatis, neque ut cursus
    malesuada, arcu nunc euismod erat, in elementum orci lectus eget enim. Nulla
    nisl erat, ullamcorper non orci in, tristique tincidunt ante. Fusce erat
    nisl, porta vulputate finibus id, mattis id lorem. Nullam in lacus lacus.
    Vivamus finibus rutrum metus vel commodo. In interdum eros at sem facilisis,
    quis porta turpis ultrices. Proin eget libero non urna accumsan convallis.
    Etiam consequat lorem eros, eu efficitur justo dictum sed. Fusce id lobortis
    lacus, sed facilisis nisi.
</p>

{% endblock%}