{% extends 'core/base.html' %}

{% block title %}
<title>ClearEar</title>
{% endblock %}

{% block content %}
<h1>Master Your Ear.</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla
    volutpat risus sed faucibus. Suspendisse blandit nisl tortor, id consequat
    orci auctor sit amet. In vehicula pulvinar posuere. Praesent eu lorem est.
    Mauris quis neque mollis, blandit nibh a, rhoncus ante. Aenean sit amet
    libero non leo feugiat faucibus. Nam dapibus viverra volutpat. Nulla dapibus
    eget lorem sed condimentum.
</p>
{% endblock %}